In [0]:
import pandas as pd
import numpy as np

In [0]:
pit_11 = pd.read_csv('../MLB_data/2011_pit.csv')
def pit(x):
    pd.
    x = pit_11.drop(['Age'], axis=1)
    x.to_csv('../MLB_data/{0}.csv'.format(x))

In [0]:
pit_11 = pd.read_csv('../MLB_data/2011_pit.csv')
pit_12 = pd.read_csv('../MLB_data/2012_pit.csv')
pit_13 = pd.read_csv('../MLB_data/2013_pit.csv')
pit_14 = pd.read_csv('../MLB_data/2014_pit.csv')
pit_15 = pd.read_csv('../MLB_data/2015_pit.csv')
pit_16 = pd.read_csv('../MLB_data/2016_pit.csv')
pit_17 = pd.read_csv('../MLB_data/2017_pit.csv')
pit_18 = pd.read_csv('../MLB_data/2018_pit.csv')
pit_19 = pd.read_csv('../MLB_data/2019_pit.csv')

In [0]:
pit_11 = pit_11.drop(['Age'], axis=1 )
pit_12 = pit_12.drop(['Age'], axis=1 )
pit_13 = pit_13.drop(['Age'], axis=1 )
pit_14 = pit_14.drop(['Age'], axis=1 )
pit_15 = pit_15.drop(['Age'], axis=1 )
pit_16 = pit_16.drop(['Age'], axis=1 )
pit_17 = pit_17.drop(['Age'], axis=1 )
pit_18 = pit_18.drop(['Age'], axis=1 )
pit_19 = pit_19.drop(['Age'], axis=1 )

In [0]:
pit_19.head()

,Player,Team,G,GS,CG,SHO,IP,H,ER,K,BB,HR,W,L,SV,BS,HLD,ERA,WHIP
0,Justin Verlander,HOU,34,34,2,1,223.0,137,64,300,42,36,21,6,0,0,0,2.58,0.80
1,Shane Bieber,CLE,34,33,3,2,214.1,186,78,259,40,31,15,8,0,0,0,3.28,1.05
2,Gerrit Cole,HOU,33,33,0,0,212.1,142,59,326,48,29,20,5,0,0,0,2.50,0.89
3,Stephen Strasburg,WAS,33,33,0,0,209.0,161,77,251,56,24,18,6,0,0,0,3.32,1.04
4,Mike Minor,TEX,32,32,2,1,208.1,190,83,200,68,30,14,10,0,0,0,3.59,1.24

In [0]:
pit_11.to_csv('../MLB_data/2011_pit.csv')
pit_12.to_csv('../MLB_data/2012_pit.csv')
pit_13.to_csv('../MLB_data/2013_pit.csv')
pit_14.to_csv('../MLB_data/2014_pit.csv')
pit_15.to_csv('../MLB_data/2015_pit.csv')
pit_16.to_csv('../MLB_data/2016_pit.csv')
pit_17.to_csv('../MLB_data/2017_pit.csv')
pit_18.to_csv('../MLB_data/2018_pit.csv')
pit_19.to_csv('../MLB_data/2019_pit.csv')